@import "main.css";

.about-container-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.left-side {
  flex-basis: 50%;
}

.right-side {
  flex-basis: 50%;
}

.about-pic {
  box-shadow: 0px 4px 6px 2px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 150px;
  /* margin-right: 100px; */
}

.about_ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: "\1F44D";
  padding-left: 2em;
  font-size: 14px;
  flex: 1;
}

.about-title {
  font-size: 1.5rem;
  color: var(--colour-dark);
}

.about-detail {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--colour-even_darker_shade_grey);
}

.about-bar {
  border-color: var(--colour-light-shade-black);
}

.about-subtitle {
  font-size: var(--size-sm);
  color: var(--colour-dark_shade_grey);
}

.about-li {
  font-size: var(--size-sm);
  color: var(--colour-even_darker_shade_grey);
}

.about-li::before {
  content: " ";
  margin-right: var(--size-xxs);
}

.about-ul-container {
  display: flex;
}
