#mashsection {
  display: grid;
  place-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 50px;
}
.mashdivContainer {
  display: grid;
  place-items: center;
}
.nav-links {
  display: flexbox;
  flex-direction: row;
  justify-content: space-evenly;
}
